.Element {
    width: 80%;
    left: 5%;
    float: left;
    background-color: whitesmoke;
    border-style: solid;
    border-radius: 20px;
    border-color: gray;
    border-width: 1px;
    display: block;
    margin: auto;
    margin-left: 10%;
    margin-top: 5%;
    margin-bottom: 0px;
}

.Element:hover{
    border-color: red;
    border-width: 5px;
    margin-bottom: -6px;
}

.EnhancedDetail{
    height: 100px;
    width: 100%;
    background-color: white;
    border-radius: 20px;
    display: inline;
}

.EnhancedDetailLabel {
    font-size: 15px;
    background-color: rgba(0, 0, 0, 0);
}

.EditIcon{
    transition:all 0.5s ;
    -webkit-transition:all 0.5s ;
    -o-transition:all 0.5s ;
    -moz-transition:all 0.5s ;
    margin-right: 10px;
    margin-left: 10px;
}

.EditIcon:hover{
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    transform: rotate(30deg);
    
}