.LeftPanel {
    float: left;
    height: 99vh;
    width: 78%;
    background-color:whitesmoke;
    margin-top: .5vh;
    margin-left: .5%;
    box-shadow: 1px 1px 2px 2px lightslategrey;
}

.NewObject {
    width: 120px;
    height: 120px;
    z-index: 9999;
    position: absolute;
    display: block;
    float: left;
    margin-left: 50px;
    margin-top: 50px;
    border: none;
    transition:all 0.5s ;
    -webkit-transition:all 0.5s ;
    -o-transition:all 0.5s ;
    -moz-transition:all 0.5s ;
}

.CloseObject {
    width: 120px;
    height: 120px;
    z-index: 9999;
    position: absolute;
    display: block;
    float: left;
    margin-left: 50px;
    margin-top: 50px;
    border: none;
    transition:all 0.5s ;
    -webkit-transition:all 0.5s ;
    -o-transition:all 0.5s ;
    -moz-transition:all 0.5s ;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.CloseObject:hover {
    background-size: 120px 120px;
    -webkit-transform: rotate(420deg);
    -moz-transform: rotate(420deg);
    -ms-transform: rotate(420deg);
    -o-transform: rotate(420deg);
    transform: rotate(420deg);
}

.NewObject:hover {
    width: 130px;
    height: 130px;
    margin-left: 45px;
    margin-top: 45px;

    
}

.ResetCamera {
    width: 120px;
    height: 120px;
    z-index: 9999;
    left: 240px;
    position: absolute;
    display: block;
    float: right;
    margin-left: 50px;
    margin-top: 50px;
    border: none;
    transition:all 0.5s ;
    -webkit-transition:all 0.5s ;
    -o-transition:all 0.5s ;
    -moz-transition:all 0.5s ;
}

.ResetCamera:hover {
    background-size: 120px 120px;
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    transform: rotate(30deg);
}
