.EntryField {
    height: 50px;
}

.LabelKey {
    width: 50%;
    font-size: 25px;
    margin-right: 5px;
}

.InputValue {
    width: 50%;
    height: 30px;
    margin-left: 5px;
    font-size: 20px;
}
